.menu-items-container{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.menu-courses-container{
  text-align: left;
  margin-top: 3rem;
}

.menucourse-wrapper{
  margin-top: 3rem;
}

hr{
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}