.profilePageContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

h1{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.profileParent{
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 1em;
    padding-left: 1em;

    .profileChild{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    
        .profilebox{
            display: flex;
            height: 54px;
            border: 0.5px solid lightgrey;
            justify-content: center;
            background-color: white;
            margin: 5px;

            .profileboxNumber{
                align-self: center;
            }
        }
    }

    p{
        padding-top: 2em;
    }
}

.profileParentTopSection{
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem 1em 1em;
    // border: 1px solid green;

    .profileChildTopSection{
        display: flex;
        width: 303px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 0.5px solid lightgray;
        // border: 1px solid green;

        .profileTopSection{
            display: flex;
            color: burlywood;
            background-color: white;
            border: none;
            color: burlywood;
            margin: 0.8rem 0rem 0.8rem 0rem;
            padding-left: 0;
        }
    }
}