@import '../../sass/abstracts/variables';
// @import '../../sass/abstracts/mixins';
@import '../../sass/base/reservationpage';




h1{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

    p{
        padding-top: 2em;
    }

    
    

