.pageContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    // border: 1px solid black;
}

h1{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.parent{
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 1em;
    padding-left: 1em;
    // border: 1px solid green;

    .child{
        display: flex;
        width: 303px;
        flex-wrap: wrap;
        flex-direction: row;
    
        .guestbox{
            display: flex;
            width: 54px;
            height: 54px;
            border: 0.5px solid lightgrey;
            justify-content: center;
            background-color: white;

            .guestboxNumber{
                align-self: center;
            }
        }
    }

    p{
        padding-top: 2em;
    }
}

