.primary-btn{
  color: $text-color;
  border-color: $text-color;
  background-color: white;
  text-transform: uppercase; 
  letter-spacing: 0.1rem;
  height: 50px;
  line-height: 38px;
  padding: 0 20px;
  margin-top: 1.5rem;
  cursor: pointer;
}
.primary-btn:hover, .primary-btn:active{
  color: white;
  border-color: $text-color;
  background-color: $text-color;  
}

.back-button{
  background-color: none;
  border: none;
  color: white;
  padding: 0;

  .back-icon{
    height: 35px;
    margin-bottom: 2rem;
  }
}