@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.sum-page-container{
  @include container-setting;
}

h1{
    @include header-setting;
}

p{
  padding-top: 2em;
}

.sum-parent-top-section{
  @include top-parent-setting;
}

.sum-child-top-section{
  @include top-child-setting;
}

.sum-top-section-black{
  @include top-black-setting;
}

.sum-top-section{
  @include top-setting;
}

.primary-btn{
  color: $text-color;
  border-color: $text-color;
  text-transform: uppercase; 
  letter-spacing: 0.1rem;
  height: 38px;
  line-height: 38px;
  padding: 0 16px;
  margin-top: 1.5rem;
}
.primary-btn:hover{
  color: white;
  border-color: $text-color;
  background-color: $text-color;  
}