.timePageContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

h1{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.timeParentTopSection{
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem 1em 1em;
    // border: 1px solid green;

    .timeChildTopSection{
        display: flex;
        width: 303px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 0.5px solid lightgray;
        // border: 1px solid green;

        .timeTopSection{
            display: flex;
            color: burlywood;
        }
    }

    button{
        background-color: none;
        border: none;
        color: burlywood;
        padding: 0;
    }
}