@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.time-page-container{
  @include container-setting;
}

.time-parent{
  @include parent-setting;
}

.time-child{
  display: flex;
  width: 303px;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width: $break-large){
    width: 453px;
  }

  .timebox{
    display: flex;
    width: 54px;
    height: 54px;
    border: 0.5px solid lightgrey;
    justify-content: center;
    background-color: white;
    margin: 5px;
  
    .timeboxNumber{
        align-self: center;
    }
  }
}

h1{
    @include header-setting;
}

p{
  padding-top: 2em;
}

.time-parent-top-section{
  @include top-parent-setting;
}

.time-child-top-section{
  @include top-child-setting;
}

.time-top-section-black{
  @include top-black-setting;
}

.time-top-section{
  @include top-setting;
}
